.header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #252525;
    color: white;
    height: 275px;
    border-radius: 50px;
}
.header h1{
    padding-top: 15px;
}

body{
    font-size: 1.4em;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #606655;
}

.round-btn{
    background-color: #606655;
    border-radius: 15px;
    padding: 5px;
    text-decoration: none;
}

.round-btn:hover{
    background-color: #252525; 
}

body a{
    color: white;
}

.project-link:hover{
    color: #252525;
}

main{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1439px){
    body{
        width: 350px;
        overflow-x: hidden;
    }
    main{
        width: 90%;
    }
    .header{
        height: 325px;
    }
}